<div class="col-md-11 clearfix">
  <button id="logout"  class="btn btn-outline-dark float-right text-uppercase" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  <button id="addExpensesMob" class="btn btn-primary float-right mr-4 text-uppercase hideMob" (click)="gotoAddExpenses()">Added Expenses</button>
  <button id="ReceivableDesktop" class="btn btn-primary float-right mr-4 text-uppercase hideMob" (click)="gotoReceivableSummary()">Summary</button>
  <button id="ReceivableMob" class="btn btn-outline-success  mr-3 text-uppercase col-2 hideDesktp" (click)="gotoReceivableSummary()"><i class="fa fa-eye" aria-hidden="true"></i></button>
  <button id="SummaryDesktop" class="btn btn-primary float-right mr-3 text-uppercase hideMob" (click)="plsummary()">P & L View</button>
  <button id="SummaryMob" class="btn btn-outline-success  mr-2 text-uppercase col-2 hideDesktp" (click)="plsummary()"><i class="fa fa-inr" aria-hidden="true"></i></button>
  <button id="homeDesk" class="btn btn-primary float-right mr-3 text-uppercase  pull-left hideMob" (click)="gotoHome()">Home</button>
  <button id="homeMob" class="btn  btn-outline-success  mr-2 text-uppercase  col-2 pull-left hideDesktp" (click)="gotoHome()"> <i class="fa fa-home" aria-hidden="true"></i> </button>
</div>
