<div class="col-md-11 clearfix">
  <button id="logout"  class="btn btn-primary float-right text-uppercase bg-dark" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  <button id="home" class="btn btn-primary float-right mr-3 text-uppercase" (click)="gotoReceivableSummary()">Summary</button>
  <button id="home" class="btn btn-primary float-right mr-3 text-uppercase" (click)="plsummary()">P & L View</button>
  <button id="home" class="btn btn-primary float-right mr-3 text-uppercase pull-left" (click)="gotoHome()">Home</button>
</div>
