<app-nav-panel></app-nav-panel>
 <div class="container"> 
  <div class="row  mt-3"> 
    <div class="col-lg-2 col-sm-6 mb-3">
      <select id="month" class="form-control"  (change)="selectChangeMonth($event)" [value]='filterObj.month'>
          <option value="" default selected>Select Month</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
      </select>
    </div>  
    <div class="col-lg-2 col-sm-6">
      <select id="clientId" class="form-control"  (change)="selectChangeClient($event)">
          <option [value]="" default selected>Select Client</option>
          <option [value]="client.clientId" *ngFor="let client of clientList; let i = index">{{client.name}}</option>
      </select>
    </div>  
  </div>
<div class="row">
    <table class=" table table-striped mt-3 text-center col-md-12 col-sm-12  hideMob" >
        <thead>
          <tr>
            <th>Invoice No</th>
            <th class="hideMob">Date</th>
            <th class="hideMob">Due Date</th>
            <th class="hideMob">Billed To</th>
            <th class="hideMob">Bill Amount</th>
            <th class="hideMob">Pur Amount</th>
            <th class="hideMob">Del Expenses</th>
            <th class="hideMob">Tax</th>
            <th>Net Val</th>
            <th class="hideDesktp">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inv of invoiceData; let i = index">
            <td>{{inv.no}}</td>
            <td class="hideMob">{{inv.billDate}}</td>
            <td class="hideMob">{{inv.dueDate}}</td>
            <td class="hideMob">{{inv.billedToName}}</td>
            <td class="hideMob">{{inv.amount | inrConverter}}</td>
            <td class="hideMob"> {{inv.purchaseamount | inrConverter}}</td>
            <td class="hideMob">{{inv.othExpenses | inrConverter}}</td>
            <td class="hideMob">{{inv.taxAmount | inrConverter}}</td>
            <td>{{inv.amount - inv.purchaseamount - inv.othExpenses - inv.taxAmount | inrConverter}}</td>
            <td class="hideDesktp"><i class="fa fa-eye" aria-hidden="true"></i></td>
          </tr>
          <tr *ngIf="hasDataToDisplay">
            <td colspan="4" class="sum">Total</td>
            <td class="hideMob" >&#x20b9; {{totalSaleValue}}</td>
            <td class="hideMob" >&#x20b9; {{totalPurchaseValue}}</td>
            <td class="hideMob">&#x20b9; {{totalDeliveryExpenses}}</td>
            <td class="hideMob">&#x20b9; {{totalTaxValue}}</td>
            <td>&#x20b9; {{totalSaleValue - totalPurchaseValue - totalDeliveryExpenses - totalTaxValue}}</td>
          </tr>
        </tbody>
    </table>
    
    <table class=" table table-striped mt-3 text-center col-md-12 col-sm-12 hideDesktp" >
      <thead>
        <tr>
          <th>No.</th>
          <th>Invoice No</th>
          <th>Net Val</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inv of invoiceData; let i = index">
           <td >{{i+1}}</td>
          <td>{{inv.no}}</td>
          <td>&#x20b9; {{inv.amount - inv.purchaseamount - inv.othExpenses - inv.taxAmount}}</td>
          <td><i class="fa fa-eye" aria-hidden="true"></i></td>
        </tr>
        <tr *ngIf="hasDataToDisplay">
          <td colspan="2" class="sum">Total Net Value</td>
          <td>&#x20b9; {{totalSaleValue - totalPurchaseValue - totalDeliveryExpenses - totalTaxValue}}</td>
        </tr>
      </tbody>
  </table>

    <div *ngIf="!hasDataToDisplay" class="text-center col-12">
      <label class="font-weight-normal">No data found</label> 
    </div>

</div>

</div>

