<app-nav-panel></app-nav-panel>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-2 col-sm-6">
            <button id="addExp" class="btn btn-outline-success ml-3 mb-3 pull-right" (click)="addExpenses()"> <i
                    class="fa fa-plus" style="font-size:14px;color: green"></i> <i class="fa fa-bus"
                    style="font-size:14px;color:green"> Travel</i> </button>
        </div>
        <div class="col-lg-2 col-sm-6 mb-3">
            <select id="month" class="form-control" (change)="selectChangeMonth($event)">
                <option value="" default selected>Select Month</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <table class="table" id="expData">
                <thead>
                    <tr>
                        <th>SN.</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th class="d-none d-lg-table-cell">Against Bill</th>
                        <th class="d-none d-lg-table-cell">Detail Note </th>
                        <th class="d--lg-none"></th>
                    </tr>
                </thead>
                <span *ngFor= "let expense of expenseData; let i = index;" class="displayContent">
                    <a  class="displayContent collapse w-100 text-muted removeUnderline" aria-expanded="false" data-toggle="collapse" href="#expenseRow_{{i}}">
                        <tbody>
                            <tr>
                                <td>{{ i +1 }}.</td>
                                <td>{{expense.date}}</td>
                                <td>{{expense.name}}</td>
                                <td>{{expense.amount}}</td>
                                <td class="d-none d-lg-table-cell">{{expense.againstBill}}</td>
                                <td class="d-none d-lg-table-cell halfFont">{{expense.desc}}</td>
                                <td class="d--lg-none"></td>
                            </tr>

                        </tbody>
                    </a>

                    <tbody>
                        <tr  class="d-lg-none">
                            <td colspan="100%">
                                <div class="card-collapse collapse" id="expenseRow_{{i}}" data-parent="#expData">
                                    <table class="table bg-transparent">
                                        <tr>
                                            <th  class="border-0">
                                                Against Bill
                                            </th>
                                            <td class="border-0">{{expense.againstBill}}</td>
                                        </tr>
                                        <tr>
                                            <th  class="border-0">
                                                Details
                                            </th>
                                            <td  class="border-0 halfFont">{{expense.desc}}</td>
                                        </tr>

                                    </table>
                                </div>

                        </tr>

                    </tbody>
                </span>

            </table>
        </div>
    </div>
</div>