
  
  .clickbleRow:hover {
   background: rgb(196, 191, 191);
   cursor: pointer;
}

tr {
   line-height: 12px;
   color:gray;
}
  
table {
   margin: 0 auto;
 }

 th {
    color: black;
    font-weight: normal;
 }

 /* Responsive Table*/
 @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore  Mobile Display*/
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		font-size: 0.8rem;
	}
	
	tr { border: 1px solid #ccc;
		font-size: 0.8rem;
	  }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
      padding-left: 50%; 
      text-align: left;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
  table#summaryTable tr td:first-child{display:none;}
  table#summaryTable td:nth-of-type(2):before { content: "Client Name"; }
  table#summaryTable td:nth-of-type(3):before { content: "Number Of Bills"; }
  table#summaryTable td:nth-of-type(4):before { content: "Total  Amount"; }

  table#detailTable tr td:first-child{display:none;}
	td:nth-of-type(2):before { content: "Invoice No"; }
	td:nth-of-type(3):before { content: "Bill Date"; }
	td:nth-of-type(4):before { content: "Due Date"; }
	td:nth-of-type(5):before { content: "Client Name"; }
	td:nth-of-type(6):before { content: "Amount"; }
}