<app-nav-panel></app-nav-panel>
<div class="container">
     <div class="row">
      <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
          <form [formGroup]="invoiceFrom" (ngSubmit)="onSubmit(invoiceFrom.value)">
            <div class="form-row">
              <div class="form-group col-md-5">
                  <label for="invNo" >Invoice No.</label>
                  <input  id="invNo" class="form-control" placeholder="Invoice No" required autofocus type="text" formControlName="no"/>
              </div>

              <div class="form-group col-md-5">
                <label for="invBilledTo">Billed To</label>
                <select id="invBilledTo" class="form-control" formControlName="billedTo" (change)="clientSelected($event)">
                    <option value="" default selected>Please Select</option>
                    <option [value]="client.clientId" *ngFor="let client of clientList; let i = index">{{client.name}}</option>
                </select>
              </div>

                       
            </div> 
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="invDate">Invoice Date</label>
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" id ="invDate"                               name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName="billDate"  [(ngModel)]="invoiceDate">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    </div>               
              </div>     

                 <div class="form-group col-md-5">  
                      <label for="dueDate">Due Date</label>
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" id="dueDate" 
                                 name="dpd" ngbDatepicker #dd="ngbDatepicker" formControlName="dueDate" [(ngModel)]="invoiceDueDate">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="dd.toggle()" type="button"></button>
                          </div>
                        </div>
                      </div>        
                </div>
            </div>  
            <div class="form-row">
                  <div class="form-group col-md-5">
                      <label for="invAmount" >Invoice Amount</label>
                      <input  id="invAmount"  class="form-control" placeholder="Invoice Amount" required autofocus type="number" formControlName="amount"/>
                  </div>

                  <div class="form-group col-md-5">
                      <label for="rcvd">Payment Received</label>
                      <select id="rcvd" class="form-control" formControlName="amountRcvd">
                          <option value="" default selected>Please Select</option>
                          <option>Yes</option>
                          <option>No</option>
                      </select>
                    </div>
            </div> 
            <div class="form-row"> 
                <div class="form-group col-md-5" *ngIf="hasSubClient">
                    <label for="invBilledToDept">Location/Dept</label>
                    <select id="invBilledToDept" class="form-control" formControlName="billedToDept">
                        <option value="" default selected>Please Select</option>
                        <option *ngFor="let client of subClientList; let i = index" [value]="client.subclientId" >{{client.name}}</option>
                    </select>
                  </div>
               </div> 
               <div class="form-group col-md-10">
                  <button id="addInv" [disabled]="!invoiceFrom.valid" type="submit" class="btn btn-primary float-right text-uppercase">Submit</button>
               </div>
      </form>      
    </div>
    </div> 
</div>