<div class="container">   
  <div class="row  mt-3">
      <button id="addInv"  class="btn btn-success" (click)="addInvoice()"> <i class="fa fa-plus" style="font-size:14px;color:#fff"></i>  <i class="fa fa-file-text" style="font-size:14px;color:#fff"></i> Invoice</button>
    <div class="col-3">
      <select id="clientId" class="form-control"  (change)="selectChangeClient($event)">
          <option value="" default selected>Select Client</option>
          <option [value]="client.clientId" *ngFor="let client of clientList; let i = index">{{client.name}}</option>
      </select>
    </div>
    <div class="col-3" *ngIf="hasSubClient">
      <select id="clientSubId" class="form-control"  (change)="selectChangeSubClient($event)">
          <option value="" default selected>Select Location/Dept</option>
          <option *ngFor="let subClient of subClientList; let i = index" [value]="subClient.subclientId">{{subClient.name}}</option>
      </select>
    </div>
      <div class="col-2">
        <select id="amountRcvd" class="form-control"  (change)="selectChangeBillRealized($event)">
            <option value="" default selected>Bill Realized</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
      </div>
      
  </div>
  <table class="table table-striped mt-3  text-center" >
    <thead>
      <tr>
        <th>S No.</th>
        <th>Invoice No</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Billed To</th>
        <th>Amount</th>
        <th>Amt Rcvd</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inv of invoiceData | paginate:{ itemsPerPage: 8, currentPage: selectedPage }; let i = index">
        <td >{{(selectedPage-1)*8 + i+1}}.</td>
        <td>{{inv.no}}</td>
        <td>{{inv.billDate}}</td>
        <td>{{inv.dueDate}}</td>
        <td>{{inv.billedToName}}</td>
        <td>&#x20b9; {{inv.amount}}</td>
        <td>{{inv.amountRcvd}}</td>
        <td>
           <i class="fa fa-edit editIcon" style='font-size:20px' (click)="EditInv(inv)"></i>
        </td>
      </tr>
    </tbody>
  </table>
   <div *ngIf="!hasDataToDisplay" class="text-center">
    <label class="font-weight-bold">No data found</label> 
   </div>

  <div *ngIf="hasDataToDisplay" class="text-center">
      <pagination-controls (pageChange)="updatePage($event)"
          previousLabel="Previous"
          nextLabel="Next"
          class="my-pagination">
      </pagination-controls>
  </div>
  
   <app-summary *ngIf="hasDataToDisplay" class="col-md-6 pull-right" [totValue]="totalValue" [noOfInv]="invoiceData?.length">
   </app-summary>
</div>
<div style="position: relative">
   <!-- https://github.com/t-ho/ngx-ui-loader/wiki/Getting-started-->
  <ngx-ui-loader></ngx-ui-loader>
</div>
