<div class="container">   
        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Invoice No</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Billed To</th>
        <th>Amount</th>
        <th>Paid</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inv of invoiceData; let i = index">
        <td>{{inv.no}}</td>
        <td>{{inv.billDate}}</td>
        <td>{{inv.dueDate}}</td>
        <td>{{inv.billedToName}}</td>
        <td>&#x20b9; {{inv.amount}}</td>
        <td>{{inv.amountRcvd}}</td>
        <td>{{inv.type}}</td>
        <td>
            <button type="button" class="btn btn-default btn-sm" (click)="EditInv(inv)">
                <i class="fa fa-edit" style='font-size:20px'></i>
              </button>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm" (click)="DeleteInv(inv.no)">
              <i class="fa fa-trash" style='font-size:20px'></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
