<div class="container">   
  <div class="row">
    <div class="col-3">
      <select id="clientId" class="form-control"  (change)="selectChangeClient($event)">
          <option value="" default selected>Select Client</option>
          <option value="001">Metro Hospitals Group</option>
          <option value="002">AIIMS New Delhi</option>
          <option value="003">DNA experts Pvt Ltd</option>
          <option value="004">DPMI Ashok Nagar</option>
          <option value="005">Crystal Crop Protection Pvt Ltd</option> 
      </select>
    </div>
    <div class="col-3" *ngIf="hasSubClient">
      <select id="clientSubId" class="form-control"  (change)="selectChangeSubClient($event)">
          <option value="" default selected>Select Location/Dept</option>
          <option *ngFor="let subClient of subClientList; let i = index" [value]="subClient.subclientId">{{subClient.name}}</option>
      </select>
    </div>
    <div class="col-2">
        <select id="amountRcvd" class="form-control"  (change)="selectChangeBillRealized($event)">
            <option value="" default selected>Bill Realized</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
      </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Invoice No</th>
        <th>Date</th>
        <th>Due Date</th>
        <th>Billed To</th>
        <th>Amount</th>
        <th>Amt Rcvd</th>
        <!-- <th>Type</th> -->
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody *ngIf="hasDataToDisplay">
      <tr *ngFor="let inv of invoiceData; let i = index">
        <td>{{inv.no}}</td>
        <td>{{inv.billDate}}</td>
        <td>{{inv.dueDate}}</td>
        <td>{{inv.billedToName}}</td>
        <td>&#x20b9; {{inv.amount}}</td>
        <td>{{inv.amountRcvd}}</td>
        <!-- <td>{{inv.type}}</td> -->
        <td>
            <button type="button" class="btn btn-default btn-sm" (click)="EditInv(inv)">
                <i class="fa fa-edit" style='font-size:20px'></i>
              </button>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm" (click)="DeleteInv(inv.no)">
              <i class="fa fa-trash" style='font-size:20px'></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
   <div *ngIf="!hasDataToDisplay" class="text-center">
    No data found
   </div>
   <app-summary *ngIf="hasDataToDisplay" class="col-md-6 pull-right" [totValue]="totalValue" [noOfInv]="invoiceData.length">
   </app-summary>
</div>
