 
 table {
    margin: 0 auto;
  }
 
  th {
     color: gray;
     font-weight: normal;
  }

  .my-pagination /deep/ .ngx-pagination .current {
   background: lightskyblue;
   border-radius: 8px;
   border-color: lightskyblue;
 }