   <div id="accordion">
        <div  id="headingOne">
            <div class="btn row col-sm-12" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <tr class="table">
                <td>1.</td>
                <td >05/05/2019</td>
                <td >Sunita</td>
                <td >&#x20b9; 500</td>
               </tr>
            </div>
        </div>
        <div id="collapseOne" class="collapse col-sm-12" aria-labelledby="headingOne" data-parent="#accordion">
          <div>
            <span class="col-sm-3">Agnst bill</span>
               <span class="col-sm-9"> Yes</span>
          </div>
          <div>
            <span class="col-sm-3">Desc</span>
               <span class="col-sm-9">Went to deliver invoice No ALS/19-20/007 to CCP</span>
          </div>
        </div> 
    </div>
    
      <!-- mat accordian -->

    <!-- https://stackblitz.com/edit/table-like-mat-accordion?file=app/app.component.html -->