<app-nav-panel></app-nav-panel>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
      <form class="form">
          <div class="form-row">
              <div class="form-group col-md-5">
                  <label for="invDate">Expense Date</label>
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" id ="invDate"                               name="dp"  ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
                      </div>
                    </div>
                  </div>               
             </div> 
          </div>
          <div class="form-row">
              <div class="form-group col-md-5">
                  <label for="invDate">Expense Details</label>
                  <div class="form-group">
                    <div class="input-group">
                      <textarea class="form-control" placeholder="Add expenses Details" id ="expenseDetails">
                       
                     </textarea>
                    </div>
                  </div>               
             </div> 
          </div>

      </form>
    </div>
  </div>

</div>
