table {
    margin: 0 auto;
  }
 
  th {
     color: black;
     font-weight: normal;
  }

  .displayContent{
     display: contents;
  }
  .halfFont {
     font-size: 80%;
  }

  .removeUnderline{
     text-decoration: none;
  }

  a:hover { 
   text-decoration: none; 
} 

.lowWidth {
   width: 35%;
}